/* reat组件根元素应采用id选择器，否则可能会被父元素的样式给覆盖掉 */
#nav {
    height: 60px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#nav>span:nth-child(1) {
    font: italic 2.5em Georgia, serif;
    letter-spacing: 3px;
}

#nav>span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    letter-spacing: 3px;
}

#nav>span:nth-child(2) li {
    padding: 0 20px;
    font-size: 16px;
}

#nav>span:nth-child(3) {
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 1px;
    color: orchid;
    cursor: pointer;
}